.App {
  text-align: center;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

main {
  display: block;
  float: left;
  width: 400px;
}

section {
  display: block;
  float: right;
  width: 400px;
}

div .Sideform {
  flex-direction: column;
}

div .EachProd {
  width: 350px;
  height: 150px;
  background-color: darkgoldenrod;
  justify-content: space-around;
  margin: 10px;

}

input {
  width: 400px;
}

button {
  margin: 20px;  
}

p {
  text-align: left;
  margin: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
